<div class="tabel-header py-3">
  <div class="mb-2 mb-md-0">
    <div class="display-5">
      e& Security Approval
    </div>
  </div>
  <div class="d-grid d-sm-flex gap-2">
  </div>
</div>

<!-- Table -->
<table class='table w-100 mb-4 main-table '>
  <thead>
    <th>CustomerName</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>EID</th>
    <th>TradeLicense</th>
    <th>AuthorisedPerson</th>
    <th>CampaignContent</th>
    <th>Action</th>
  </thead>

  <tbody>
    <tr *ngIf="requestlist.length === 0">
      <td colspan="9">
        <p class="d-flex justify-content-center align-items-center">No data found</p>
      </td>
    </tr>
      <tr *ngFor="let item of requestlist">
        <td class="request-details" [routerLink]="['/security-request-details/', item.userId]">
          <div>{{item.customerName}}</div>
        </td>
        <td>
          <div>{{item.mobile}}</div>
        </td>
        <td>
          <div>{{item.email}}</div>
        </td>
        <td>
          <div>{{item.eid}}</div>
        </td>
        <td>
          <div>{{item.tradeLicense}}</div>
        </td>
        <td>
          <div>{{item.authorisedPerson}}</div>
        </td>
        <td>
          <div>{{item.campaignContent}}</div>
        </td>
        <td class="d-flex gap-3">
          <span class="approved-icon" *ngIf="securityApprovalStatus === 0" (click)="openVerticallyCentered(approveModel)"><i
            style="color: white; cursor: pointer;" class="bi bi-check2-square p-3"></i></span>
          <span class="rejected-icon" *ngIf="securityApprovalStatus === 0" (click)="openVerticallyCentered(rejectModel)"><i
               style="color: white; cursor: pointer;" class="bi bi-x-lg"></i></span>
          <span *ngIf="securityApprovalStatus === 2" class="rejected"><i class="bi bi-x"></i>Rejected</span>
          <span *ngIf="securityApprovalStatus === 1" class="approved"><i class="bi bi-check2-all"></i>Approved</span>
        </td>

        <ng-template #approveModel let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Security Approval Confirmation</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure it will be approved?&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success"
              (click)="approve(1,item)">Approve</button>
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>

        <ng-template #rejectModel let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Security Approval Confirmation</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure it will be reject?&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"
              (click)="reject(2,item)">Reject</button>
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>
      </tr>
  </tbody>
</table>
