  .tabel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem
  }
.request-details{

}

.request-details:hover{
  background-color: #f1f1f1;
  cursor: pointer;
}
.approved-icon{
  padding: 2px;
  border-radius: 8px;
  background-color: #19a58e;
}

.rejected-icon {
  padding: 2px;
      text-align: center;
        width: 41px;
  border-radius: 8px;
  background-color: red
}
