<div class="content">
  <div class="d-flex justify-content-center">
    <div class="col-lg-11">
      <h3 class="py-4">LB-ECM Engage<span class="text-danger">X</span></h3>
      <div class="card shadow-sm animated flipInX delay-02">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div class="card-header-title display-5">{{userRequestDetails.customerName}}</div>
            <div class="d-flex gap-2">
              <a [routerLink]="['/user-big-data', userRequestDetails.user.location.bigDataId]"  *ngIf="userRequestDetails.approval.superAdminApprovalStatus=== 1" class="view-data"  placement="top" ngbTooltip="View Data">
                <i class="bi bi-view-list"></i>
              </a>
              <a class="create-request" [routerLink]="['/create-request']"  placement="top" ngbTooltip="Request data">
                <i class="bi bi-plus-circle"></i>
              </a>
              <a class="launch-campaign" [routerLink]="['/create-request']" placement="top" ngbTooltip="Launch campaign">
                <i class="bi bi-chat-left"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
        <div *ngIf="isLoading">
          <div class="wrapper">
            <div class="spinner">
              <div class="spinner-1"></div>
              <div class="spinner-2"></div>
              <div class="spinner-3"></div>
            </div>
          </div>
        </div>
          <div class="row" *ngIf="!isLoading">
            <div class="col-6">
              <ul class="list-unstyled list-py-2 text-dark mb-0">
                <li class="pb-0"><span class="card-subtitle">Status</span></li>
                <li>
                  <div>Admin Approval:</div>
                  <div class="status" [ngClass]="{
                    'pending': userRequestDetails.approval.adminApprovalStatus === 0,
                    'approved': userRequestDetails.approval.adminApprovalStatus === 1,
                    'rejected': userRequestDetails.approval.adminApprovalStatus === 2
                  }">
                    <i class="bi" [ngClass]="{
                    'bi-hourglass-split': userRequestDetails.approval.adminApprovalStatus === 0,
                    'bi-check2-all': userRequestDetails.approval.adminApprovalStatus === 1,
                    'bi-x': userRequestDetails.approval.adminApprovalStatus === 2
                  }"></i> {{ userRequestDetails.approval.adminApprovalStatus | approvalStatus }}
                  </div>
                </li>
                <li>
                  <div>Security Approval:</div>
                  <div class="status" [ngClass]="{
                    'pending': userRequestDetails.approval.superAdminApprovalStatus === 0,
                    'approved': userRequestDetails.approval.superAdminApprovalStatus === 1,
                    'rejected': userRequestDetails.approval.superAdminApprovalStatus === 2
                  }">
                    <i class="bi" [ngClass]="{
                    'bi-hourglass-split': userRequestDetails.approval.superAdminApprovalStatus === 0,
                    'bi-check2-all': userRequestDetails.approval.superAdminApprovalStatus === 1,
                    'bi-x': userRequestDetails.approval.superAdminApprovalStatus === 2
                  }"></i> {{ userRequestDetails.approval.superAdminApprovalStatus | approvalStatus }}
                  </div>
                </li>
                <li>
                  <div class="property"> Authorised Person:</div>
                  <div class="value"> <i class="bi bi-person"></i> : {{ userRequestDetails.authorisedPerson }}</div>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-unstyled list-py-2 text-dark mb-0">
                <li>
                  <div class="property">Phone Number:</div>
                  <div class="value"><i class="bi bi-phone"></i> : {{ userRequestDetails.mobile }}</div>
                </li>
                <li>
                  <div class="property">Email:</div>
                  <div class="value"><i class="bi bi-envelope"></i> : {{ userRequestDetails.email }}</div>
                </li>
                <li>
                  <div class="property">EID:</div>
                  <div class="value"><i class="bi bi-credit-card-2-front"></i> : {{ userRequestDetails.eid }}</div>
                </li>
                <li>
                  <div class="property">Trade License:</div>
                  <div class="value"><i class="bi bi-badge-tm"></i> : {{ userRequestDetails.tradeLicense }}</div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


